[user]
	name = Robb Currall
	email = rlcurrall@gmail.com
	signingkey = 88BB0F723B24FADD

[core]
	editor = vim
	pager = less -X -F
	excludesfile = ~/.gitignore
	autocrlf = input

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[pull]
	rebase = true

[fetch]
	prune = true

[gpg]
	program = gpg2

[pull]
	rebase = true

[fetch]
	prune = true

[init]
	defaultBranch = main
