[user]
	name = Robb Currall
	email = rlcurrall@gmail.com
	signingkey = 73D02C5678B4D52A

[core]
	editor = vim
	pager = less -X -F
	# whitespace = fix,trailing-space
	excludesfile = ~/.gitignore
	autocrlf = input
	# attributesfile = ~/.gitattributes
	# trustctime = false
	# precomposeunicode = false
	# untrackedCache = true

# [apply]
# 	whitespace = fix

# [branch]
# 	sort = -committerdate

# [web]
# 	browser = google-chrome

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[pull]
	rebase = true

[fetch]
	prune = true

# [diff]
# 	renames = copies
# 	tool = vimdiff

# [diff "bin"]
# 	textconv = hexdump -v -C

# [help]
# 	autocorrect = 1

# [merge]
# 	log = true

# [init]
# 	defaultBranch = main
