[Desktop Entry]
Name=Gnome Gmail
Name[cs]=Gnome Gmail
Name[de]=GNOME-Gmail
Name[el]=Gnome Gmail
Name[es]=Gnome GMail
Name[fr]=Gnome Gmail
Name[hr]=Gnome Gmail
Name[hu]=Gnome Gmail
Name[hy]=Gnome Gmail
Name[id]=Gmail Gnome
Name[it]=Gnome Gmail
Name[ms]=Gnome Gmail
Name[pl]=GNOME Gmail
Name[pt]=Gnome Gmail
Name[pt_BR]=Gnome Gmail
Name[ro]=Gnome Gmail
Name[ru]=Gnome Gmail
Name[sv]=Gnome Gmail
Name[ta]=க்னோம் ஜிமெயில்
Name[tr]=Gnome Gmail
Name[uk]=Gnome Gmail
Name[vi]=Gnome Gmail
Name[zh_TW]=Gnome Gmail
GenericName=GMail Web Integration
GenericName[fr]=Intégration Web GMail
GenericName[pl]=Integracja z serwisem Gmail
GenericName[ru]=Веб-интеграция GMail
Comment=Integrate GMail with your desktop
Comment[cs]=Začlenit GMail do vašeho pracovního prostředí
Comment[de]=Integriert die E-Mail-Dienste von GMail in die GNOME-Arbeitsumgebung
Comment[el]=Ενσωματώστε το Gmail με την επιφάνεια εργασίας σας
Comment[es]=Integra GMail en tu escritorio
Comment[fr]=Intègre Gmail à votre bureau
Comment[hr]=Integriraj Gmail u moju radnu površinu
Comment[hu]=A GMail beépítése az asztalba
Comment[id]=Mengintegrasikan GMail dengan desktop Anda
Comment[it]=Integra GMail con il tuo desktop
Comment[ms]=Integrasikan GMail dengan desktop anda
Comment[pl]=Integracja serwisu Gmail ze środowiskiem
Comment[pt]=Integrar o GMail no sistema do seu computador
Comment[pt_BR]=Integrar o GMail a sua área de trabalho
Comment[ru]=Интегрировать GMail с вашим рабочим столом
Comment[sv]=Integrera Gmail med skrivbordet
Comment[ta]=உங்கள் திரைபலகையுடன் இணைந்த ஜிமெயில்
Comment[tr]=Gmail'i masaüstünüz ile entegre edin
Comment[uk]=Інтегрувати GMail в робоче середовище
Comment[vi]=Tích hợp GMail với máy tính của bạn
Comment[zh_TW]=將 GMail 整合至您的桌面
MimeType=application/mbox;message/rfc822;x-scheme-handler/mailto;
Exec=gnome-gmail %U
Icon=gmail_icon
Terminal=false
Type=Application
Categories=GNOME;GTK;Email;Network;
Keywords=email;mail;Google;
Keywords[fr]=email;mail;Google;e-mail;
Keywords[it]=email;mail;Google;
Keywords[pl]=email;e-mail;poczta;skrzynka;wyślij;mail;mejl;Google;
Keywords[ru]=email;mail;Google;
StartupNotify=true
